<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include ../head -%>
    <link rel="stylesheet" href="/stylesheet/vote.css">
    <meta name="theme-color" content="black">
</head>
<style>
.bienvenue{
    height: 100vh;
}
img{
    height: 3cm;
}
</style>

<body class="black">
    <%- include bienvenue -%>
    <%- include ../script -%>
    <script src="/js/vote.js"></script>
</body>
</html>