<div class="col-12 d-flex justify-content-center p-5">
    <div class="text-center">
        <h1 class="">Enregistrer</h1>
        <h5 class="lead">Ajouter un nouvel électeur à partir de la carte RFID</h5>
        <small class="text-info" id="devicemsg"></small><br>
        <i class="mdi-hardware-sim-card fa-10x animated infinite flash" id="iconcard"></i>
    
    </div>
</div>