<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include ../head -%>
    <link rel="stylesheet" href="/stylesheet/stats.css">
</head>
<style>

</style>

<body class="bg-light">
    <%- include bienvenue -%>
    <%- include ../script -%>
    <script src="/js/stats.js"></script>

</body>
</html>