<div class="col-12 d-flex justify-content-center p-5">
    <div class="text-center">
        <h1 class="">Lister</h1>
        <h5 class="lead">Liste de toutes les personnes deja enregistrer</h5>
        <small class="text-info" id="devicemsg"></small><br>
    
    </div>
</div>